html {
    background-color: rgba(255, 0, 255, 0.0);
    width: 100vw;
    height: 100vh;
    outline: none;
    border: none;
    border-image: none;
    border-radius: initial 0px;
    background: none;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Roboto Condensed', Helvetica, Helvetica Neue, Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    opacity: 1.0;
    overflow: hidden;
    z-index: 0;
}

.body {
    background-color: rgba(255, 0, 255, 0.0);
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100%;
    outline: none;
    border: none;
    opacity: 1.0;
    overflow: hidden;
    z-index: 0;
	border-radius: 14px;
}

.form-container {
    position: fixed;
    top: 4vh;
    left: 0px;
    width: 50vw;
    height: 70vh;
    margin: 8vh 2vw 2vh 6vw;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(64, 64, 64, 0.6);
    border-radius: 14px;
    outline: none;
    border: none;
    opacity: 1.0;
    z-index: 5;
}

.news-container {
    position: fixed;
    top: 4vh;
    left: 60vw;
    width: 30vw;
    height: 70vh;
    margin: 8vh 6vw 2vh 2vw;
    padding: 1vh 1vw 1vh 1vw;
    background-color: rgba(64, 64, 64, 0.6);
    border-radius: 14px;
    outline: none;
    border: none;
    opacity: 1.0;
    z-index: 5;
}

h1 {
    text-align: center;
    font: 1.1em Oswald;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: #000 0px 1px 5px;
    z-index: 10;
}

p {
    font: 0.7em Open Sans;
    color: #8E8E8E;
    text-shadow: #000 0px 1px 5px;
    z-index: 10;
}

.form {
    background-color: rgba(255, 0, 255, 0.0);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 10;
    outline: none;
    border: none;
    padding: 0%;
    margin: 0%;
}

input[type="text"], input[type="email"], input[type="password"] {
    position: relative;
    width: -webkit-fill-available;
    margin: 1% 2% 1% 2%;
    padding: 2%;
    border-radius: 5px;
    box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.3), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    outline: none;
    border: none;
    border: 1px solid black;
    color: #6E6E6E;
    text-shadow: #000 0px 1px 5px;
    font: 14px Oswald;
    z-index: 10;
}

input[type="submit"] {
    position: relative;
    width: -webkit-fill-available;
    margin: 4% 2% 1% 2%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#28D2DE), to(#1A878F));
    background-image: -webkit-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: -moz-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: -o-linear-gradient(#28D2DE 0%, #1A878F 100%);
    background-image: linear-gradient(#28D2DE 0%, #1A878F 100%);
    font: 14px Oswald;
    color: #FFF;
    text-transform: uppercase;
    text-shadow: #000 0px 1px 5px;
    border: 1px solid #000;
    opacity: 0.7;
    -webkit-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.7);
    border-top: 1px solid rgba(255, 255, 255, 0.8) !important;
    z-index: 10;
}

input:focus {
    box-shadow: inset 4px 6px 10px -4px rgba(0, 0, 0, 0.7), 0 1px 1px -1px rgba(255, 255, 255, 0.3);
    background: rgba(0, 0, 0, 0.3);
    -webkit-transition: 0.23s ease;
    -moz-transition: 0.23s ease;
    -o-transition: 0.23s ease;
    -ms-transition: 0.23s ease;
    transition: 0.23s ease;
    z-index: 10;
}

input[type="submit"]:hover {
    opacity: 1;
    cursor: pointer;
    z-index: 10;
}

.help {
    padding: 0px;
    margin: 0px;
    width: 100%;
    z-index: 10;
}

.name-help, .email-help, .username-help, .password-help {
    display: none;
    padding: 1px;
    margin: 1px;
    font: 11px Oswald;
    width: 100%;
    z-index: 10;
}

.optimize {
    position: fixed;
    right: 3%;
    top: 0px;
    z-index: 10;
}

@media all and (orientation:portrait) {
    .video-size {
        top: calc(-1 * (0.5625 * 100vh));
        width: 100vw;
        height: 100vh;
    }
}

@media all and (orientation:landscape) {
    .video-size {
        top: calc(-1 * (0.5625 * 100vh));
        width: 100vw;
        height: 100vh;
    }
}

.video-base {
    position: fixed;
    display: block;
    margin: 0px;
    padding: 0px;
    object-fit: cover;
    left: 0px;
    top: 0px;
    overflow: hidden;
    position: fixed;
    pointer-events: none;
    outline: none;
    border: none;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.video-base,
.video-player {
    background-color: rgba(0, 0, 0, 1.0);
    width: 100vw;
    height: 100vh;
    z-index: -15;
    opacity: 0.5;
    pointer-events: none;
}

.video-base,
.video-size,
.video-container {
    background-color: rgba(0, 0, 0, 0.0);
    z-index: -10;
    opacity: 1.0;
    pointer-events: none;
}

.video-overlay,
.video-base {
    background-color: rgba(0, 0, 0, 1.0);
    z-index: -1;
	background-size: cover;
    background-position: center;
    background-image: url("../img/overlay.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-fit: cover;
    width: 100vw;
    height: 100vh;
    opacity: 1.0;
    pointer-events: none;
}
